#login-container.hide {
    display: none;
}

.center {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.container p {
    padding: 5px;
    margin: 0 10px;
}