name: CI

on:
  push:
  pull_request:
    branches: [master]

env:
  DEFAULT_DJANGO: "4.1"
  DEFAULT_PYTHON: "3.11"

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python: ["3.8", "3.9", "3.10", "3.11"]
        django: ["3.2", "4.0", "4.1"]

    steps:
      - name: Check out repo
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r ./reqs/dj${{ matrix.django }}-requirements.txt
          pip install ".[dev]"

      - name: Lint Code
        if: matrix.python == env.DEFAULT_PYTHON && matrix.django == env.DEFAULT_DJANGO
        run: .bin/lint-code

      - name: Test with pytest
        run: |
          export PYTHONPATH=$GITHUB_WORKSPACE
          pytest --ignore=tests/test_zconstance.py
          if [[ "${{ matrix.django }}" == "${{ env.DEFAULT_DJANGO }}" ]]; then
            pytest tests/test_zconstance.py
          fi

      - name: Publish Code Coverage
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: 88fae959f68f3139aeeb3cd64ce11841115a336fdfc91b7cecd52958acb4d3e9
        with:
          coverageCommand: coverage xml
          coverageLocations: ${{github.workspace}}/coverage.xml:cobertura
